* {
    box-sizing: border-box
}
html {
    height: 100%;
    background-color: #282828;
    font-size: 10px;
}
body {
    min-height: 100%;
    display: flex;
}
#app {
    flex: 1;
}
html, body, p, h1, h2, h3 {
    font-family: 'Arial';
    margin: 0
}